<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

</head>

<body>
<h1>TP PWeb-2 : Découverte des Observables</h1>
<h3>hello</h3>
<div> Ouvrir la console pour visualiser les messages produits par l'exécution du fichier <span style="font-family: Courier">index.ts</span> de essabbani naim</div>
<br>
<hr>
<br>

<h2>Réponses aux questions</h2>

<div id="solutions"></div>

<br>
<hr>
<br>

<div id="souris"></div>

<br>
<hr>
<br>

<div id ="canvas"></div>

<br>
<hr>
<br>
<div id ="Personne"></div>

<br>
<hr>
<br>

</body>
